@import 'nib'

html,
body
  margin 2.5em

h1, h2, h3, h4, h5, h6
  font-weight 100
  color #111

p, a
  font-size 0.875em
  color #333

a
  text-decoration none
  &.active
    font-weight bold
  &+a
    margin-left 1em

.home, .admin
  margin-left 1.25em
  border-left 1px dashed #ccc
  padding-left 0.75em
